.btn {
  cursor: pointer;
  outline: none;
  border: none;
  transition: opacity 0.5s ease, background-color 0.3s ease;
}

.btn:focus {
  background-color: rgba(255, 255, 255, 0.7);
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.btn:active {
  background-color: rgba(255, 255, 255, 0.3);
}

.btn--centered {
  position: absolute;

  z-index: 1;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  
  width: 100px;
  padding: 0.4rem 1em;

  font-size: 1rem;
}

.btn--see-more {
  align-self: flex-end;
  padding: 0.3rem 0.3em;
  font-weight: bold;
}
